version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: animate-app
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main_db
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data: